$font: "Helvetica Neue", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//colors
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

html, body {
    font-family: $font;
    font-size: 16px;
}

.container {
    width: 1640px;
    min-width: 1640px;
    margin: 0 auto;
    @media(max-width: 1440px) {
        width: 1280px;
        min-width: 1280px;
    }
    @media(max-width: 1280px) {
        width: 976px;
        min-width: 976px;
    }
    @media(max-width: 976px) {
        width: 768px;
        min-width: 768px;
    }
}

// Header
header {
    height: 80px;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 10;
    .inner-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        .logo {
            a {
                font-weight: 700;
                text-decoration: none;
                letter-spacing: 1.5px;
                color: $black;
            }
        }
        .navigation {
            nav {
                a {
                    margin: 0 20px;
                    text-decoration: none;
                    letter-spacing: 1.75px;
                    text-transform: uppercase;
                    font-size: 0.75rem;
                    color: $black;
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}

// banner
.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 100vh;
    .row{
        position: relative;
        border: black 11px solid;
        padding-top: 70px;
        padding-bottom: 70px;
        .main-text {
            font-size: 5.8rem;
            text-transform: uppercase;
            letter-spacing: 42px;
            font-weight: 700;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            // mix-blend-mode: overlay;
            mix-blend-mode: difference;
            z-index: 9;
            // text-shadow:
            // -1px 3px 0 #000, -4px 4px 0 #000;
            @media(max-width: 1440px) {
                font-size: 4.4rem;
                letter-spacing: 36px;
            }
        }
        .sub-text {
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 19px;
            font-weight: 700;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top: 60%;
            transform: translateY(-20%);
            text-align: center;
            // mix-blend-mode: overlay;
            // mix-blend-mode: difference;
            z-index: 9;
            text-shadow:
            // -1px -1px 0 $black,
            // 1px -1px 0 $black,
            // -1px 1px 0 $black,
            // 1px 1px 0 $black;
            -1px 3px 0 #000, -4px 4px 0 #000;
            @media(max-width: 1440px) {
                font-size: 1.4rem;
                letter-spacing: 23px;
            }
            
        }
        .main-image {
            width: 600px;
            margin: 0 auto;
            @media (max-width: 1440px) {
                width: 700px;
                // height: 100px;
                // position: relative;
                // top: 100%;
            }
        }
        .icons {
            font-size: 21px;
            /* border: 0px solid black; */
            text-align: center;
            display: flex;
        }
    }
    .scroll {
        padding-top: 28px;
        margin-left: 47%;
        font-weight: 700;
        font-size: 2.875rem;
        text-align: center;
        letter-spacing: 1.5px;
        color: #000;
        text-transform: uppercase;
        position: absolute;
        bottom: 48px;
        transition: transform 300ms ease-in-out;
 
        &:hover {
            transform: translate(20px, 20px) 
  }
    }
}